<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Questionnaire</title>
  <link rel="stylesheet" href="style.css" />
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script>
  var app = angular.module("questionnaire", []);
app.controller("myCtrl", function($scope) {
    $scope.questions = [
	{
		question: "De quel pays venez-vous ?",
		options: ["Syrie", "Turquie", "Iraq", "Israel","Egypte","autre"]
	},
	{
		question: "Quels sont les problemes qui vous touchent le plus ?",
		options: ["Alimentation", "Hygienne", "Accès à l'eau", "Education"],
	},
	{
		question: "Avez vous de la famille dans un autre pays ?",
		options: ["Oui", "Non"],
	},
	];
});
  </script>
</head>

<body>

	<h1 class="title">Questionnaire</h1>
    <div ng-app="questionnaire" ng-controller="myCtrl">
    	<ul>
        	<div ng-repeat="ques in questions">{{ques.question}}
        		<li ng-repeat="opt in ques.options">
        			<label>{{opt}}:<input type="checkbox"/>
        		</li>
        	
        	</div>
    	</ul>
	</div>
    

</body>

</html>
