<!DOCTYPE html>
<html>
<head>
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="app.js"></script>
</head>

<body>

	<div ng-app="formApp" ng-controller="formController">

	<h2>De quel pays venez-vous ?</h2>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="paysOrigine" value="Syrie" ng-model="formData.paysOrigine">
                    Syrie
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="paysOrigine" value="Turquie" ng-model="formData.paysOrigine">
                    Turquie
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="paysOrigine" value="Ukraine" ng-model="formData.paysOrigine">
                    Ukraine
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="paysOrigine" value="Irak" ng-model="formData.paysOrigine">
                    Irak
                </label>
            </div>
        </div>
    <h2>Quels sont les problemes qui vous touchent le plus ?</h2>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="probleme" value="alimentation" ng-model="formData.probleme">
                   Alimentation
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="probleme" value="sante" ng-model="formData.probleme">
                    Sante
                </label>
            </div>    
        	 <div class="radio">
                <label>
                    <input type="radio" name="probleme" value="education" ng-model="formData.probleme">
                    Education
                </label>
            </div>
	<h2>Sample Form Object</h2>
    <pre>
        {{ formData | json}}
    </pre>
    
    
	</div>
</body>
</html>

